html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Hind', sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #333;
	background: #ebebeb;
}

a {
	color: #333;
	font-family: 'Hind', sans-serif;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 1px solid #ebebeb;
}

a:hover {
	border-bottom: 1px solid #dd5565;
	transition: 1s;
}

h1 {
	font-family: 'Hind', sans-serif;
	font-weight: 600;
	font-size: 20px;
	color: #333;
	text-transform: uppercase;
	margin: 0 0 30px 0;
}

h2 {
	font-family: 'Hind', sans-serif;
	font-weight: 600;
	font-size: 14px;
	color: #333;
	text-transform: uppercase;
}

.nav-container {
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
}

.nav-item {
	display: flex;
	height:140px;
	width:20%;
	justify-content: center;
	align-items: center;
}

.container {
	margin: 0 auto;
	padding: 0 150px;
	max-width: 1000px;
}

::-webkit-input-placeholder {
   color: #333;
}

.search, .example-search {
	display: flex;
	height: 35px;
}

.search-dropdown {
	position: relative;
	border: 1px solid #333;
	border-right: none;
    font-family: 'Hind',sans serif;
    font-size: 14px;
    padding: 7px 10px 3px 10px;
    background: #ebebeb;
}

.dropdown-content {
	border: 1px solid #333;
    list-style-type: none;
    margin: 3px 0 0 -11px;
    padding: 0;
    position: absolute;
    display: none;
    width: 180px;
	background: #ebebeb;
}

.dropdown-content > li {
    padding: 7px 10px 5px 10px;
    border-top: 1px solid #333;
}

.dropdown-content > li:hover {
    color: #dd5565;
}

.search-input, .example-search-input {
	width: 50%;
	border: 1px solid #333;
	border-right: none;
    font-family: 'Hind',sans serif;
    font-size: 14px;
    padding: 5px 0px 2px 10px;
    background: #ebebeb;
}

.search-ipnut:focus {
	outline: none;
}

.search-submit, .example-search-submit {
	width: 35px;
	border: 1px solid #333;
	border-left: none;
    font-family: 'Hind',sans serif;
    font-size: 14px;
    background: #ebebeb;
    padding: 1px 10px 0 0;
}

.search-icon {
	width: 32px;
	fill: #333;
}

.info {
    width:20px;
    height:20px;
    border-radius:250px;
    border: 1px solid #dd5565; 
    font-family: 'Hind', sans serif;
    font-weight: 600;
    font-size:14px;
    color:#dd5565;
    line-height:23px;
    text-align:center;
    margin-left: 20px;
}

.inline-block {
	display: inline-block;
}

.example-more:hover {
	
}

.example {
	
}

#example-grid {
	margin-top:40px;
}

.example-grid:after {
	content: '';
	display: block;
	clear: both;
}

.example-grid-sizer,
.example-grid-item {
	width: 32.5%;
}

.example-grid-item {
	float:left;
	margin-bottom: 10px;
}

.example-grid-item img {
	display: block;
	max-width: 100%;
}

/* FILTER */

#filter {
	list-style-type: none; 
	margin-top: 40px; padding: 0
}
#filter:after {
	content: '';
	display: block;
	clear: both;
}
#filter li, #filter a {
	display: block; 
	float: left; margin: 0
}
#filter a { 
	background: #ddd; 
	border: 1px solid #666; 
	text-decoration: none; 
	padding: 5px 10px;
}
#filter a.active {
	background: yellow;
}

/* END */

.concealed {
	display: none;
}

.example-description {
	display: none;
}

.person-image {
	width: 90px;
    height: 90px;
    border-radius: 90px;
    text-align: center;
    background-image: url('../img/img-placeholder.png');
}

.portfolio-link {
	width: 90px;
    height: 90px;
    border-radius: 90px;
    text-align: center;
    background-color: rgba(221,85,101,0.3);
    display: table-cell;
    overflow: hidden;
    vertical-align:middle;
    visibility: hidden;
  	opacity: 0;
}

.person-image:hover .portfolio-link {
	visibility: visible;
	transition: 1s;
  	opacity: 1;
}

.person-image:hover .portfolio-link a:link{
	border-bottom: none;
}

.person-image:hover .portfolio-link a:hover{
	border-bottom: none;
}

.grid_main
{
	float: left;
	width: 26%;
}

.splitter
{
	float: left;
	min-height: 1px;
	width: 11%;
}

.grid_main ul 
{
	list-style-type: none;
	padding: 0;
	cursor: default;
	line-height: 150%;
}

.grid_main ul li li
{
	padding-left: 60px;
}

.grid_main ul li li li
{
	padding-left: 30px;
}

img
{
	height: 20px;
	width: 20px;
	padding-right: 10px;
}

.o_selectable,.i_selectable
{
	color: #000000 !important;
	cursor: pointer;
}

.o_selectable:hover,.i_selectable:hover
{
	color: #dd5565 !important;
}

.highlight
{
	color: #dd5565 !important;
}



.list_tooltip 
{
	font-family: 'Hind', sans-serif;
	font-style:italic;
	font-size: 10px;
	line-height: 130%;
	color: #333;
	margin: 0;
	width: 90%;
}

#tt1
{
	padding-left: 30px ! important;
}

#tt2
{
	padding-left: 0px ! important;
}

.example img
{
	width: 100%;
	height: auto;
}

.example_list
{
	overflow-y: scroll;
	height: 450px;
}

.infotext
{
	font-family: 'Hind', sans-serif;
	font-size: 10px;
	color: #333;
	margin: 0;
}

h4
{
	font-family: 'Hind', sans-serif;
	font-weight: 600;
	font-size: 14px;
	color: #333;
	margin: 0;
}

.example_link
{
	text-align: right !important;
	color: #dd5565 !important;
	text-transform: none;
	font-weight: 100;
	font-size: 8px;
	float: right;
	text-align: right;
	margin-bottom: 10px;
}

footer 
{
	width: 100%;
	float: right;
	margin: 80px 0 20px 0;
	text-align: center;
}