html, body {
	margin: 0;
	padding: 0;
	border: 0;
	font-family: 'Hind', sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #333;
	background: #ebebeb;
}

a {
	color: #333;
	font-family: 'Hind', sans-serif;
	font-weight: 600;
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 1px solid #ebebeb;
}

a:hover {
	border-bottom: 1px solid #dd5565;
	transition: 1s;
}

h1 {
	font-family: 'Hind', sans-serif;
	font-weight: 600;
	font-size: 20px;
	color: #333;
	text-transform: uppercase;
	margin: 0 0 30px 0;
}

h2 {
	font-family: 'Hind', sans-serif;
	font-weight: 600;
	font-size: 14px;
	color: #333;
	text-transform: uppercase;
}

.example-text p {
	font-family: 'Hind', sans-serif;
	font-weight: 300;
	text-transform: none;
	margin-top: 5px;
}

.example-text hr {
	width: 30px;
    border: 1px solid #fff;
    margin: 0;
}

.example-text h2 {
	color: #fff;
	margin-bottom: 10px;
}

.nav-container {
	display: flex;
	margin: 0;
	padding: 0;
	list-style-type: none;
	-webkit-flex-flow: row wrap;
	justify-content: space-around;
}

.nav-item {
	display: flex;
	height: 140px;
	width: 20%;
	justify-content: center;
	align-items: center;
}

.container {
	margin: 0 auto;
	padding: 0 150px;
	max-width: 1000px;
}

::-webkit-input-placeholder {
   color: #333;
}

.search, .example-search {
	display: flex;
	height: 35px;
}

.search-dropdown {
	position: relative;
	border: 1px solid #333;
	border-right: none;
    font-family: 'Hind',sans serif;
    font-size: 14px;
    padding: 7px 10px 3px 10px;
    background: #ebebeb;
}

.dropdown-content {
	border: 1px solid #333;
    list-style-type: none;
    margin: 3px 0 0 -11px;
    padding: 0;
    position: absolute;
    display: none;
    width: 180px;
	background: #ebebeb;
}

.dropdown-content > li {
    padding: 7px 10px 5px 10px;
    border-top: 1px solid #333;
}

.dropdown-content > li:hover {
    color: #dd5565;
}

.search-input, .example-search-input {
	width: 56%;
	border: 1px solid #333;
	border-right: none;
    font-family: 'Hind',sans serif;
    font-size: 14px;
    padding: 5px 0px 2px 10px;
    background: #ebebeb;
}

.search-ipnut:focus {
	outline: none;
}

.search-submit, .example-search-submit {
	width: 35px;
	border: 1px solid #333;
	border-left: none;
    font-family: 'Hind',sans serif;
    font-size: 14px;
    background: #ebebeb;
    padding: 1px 10px 0 0;
}

.search-icon {
	width: 32px;
	fill: #333;
}

.search-tags {
	margin: 20px 0 0 0;
}

.tag {
	display: inline-flex;
	border: 1px solid #333;
	font-family: 'Hind',sans serif;
	font-size: 14px;
	padding: 5px 10px;
	margin: 0 10px 5px 0;
}

.delete-button {
	border: none;
    background-color: #ebebeb;
    margin-left: 10px;
    font-size: 10px;
}

.info {
    width:20px;
    height:20px;
    border-radius:250px;
    border: 1px solid #dd5565; 
    font-family: 'Hind', sans serif;
    font-weight: 600;
    font-size:14px;
    color:#dd5565;
    line-height:23px;
    text-align:center;
    margin-left: 20px;
}

.inline-block {
	display: inline-block;
}

.example {
	
}

#example-grid {
	margin-top:40px;
}

.example-grid:after {
	content: '';
	display: block;
	clear: both;
}

.example-grid-sizer,
.example-grid-item {
	width: 32.5%;
}

.example-grid-item {
	float:left;
	margin-bottom: 10px;
}

.example-grid-item img {
	display: block;
	max-width: 100%;
}

.example-more {
	
}

.example-text {
	display: none;
}

.example-text p {
	padding: 0 10px;
}

.example-more:hover .example-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	position: absolute;
	width: 100%;
	height: 100%;
	color: #fff;
	background-color: rgba(221,85,101,0.8);
	text-align: center;
}

.back {
	position: absolute;
	padding-top: 6px;
	left: 100px;
}

.back a {
	text-transform: none;
	border-bottom: none;
	font-weight: 300;
}

.back a:hover {
	text-transform: none;
	border-bottom: none;
	font-weight: 300;
	color: #dd5565;
}

.video {
	margin-top: 20px;
	display: flex;
	flex-direction: row;
}

.video a {
	margin-left: 10px;
	text-transform: none;
	border-bottom: none;
	font-weight: 300;
}

.video a:hover {
	border-bottom: none;
	color: #dd5565;
}

/*.concealed {
	display: none;
}*/

.found {
	display: block;
}

.project {
	float: left;
	width: 70%;
	margin-bottom: 50px;
}

.project p {
	width: 80%;
}

.more {
	float: right;
	width: 30%;
}

.portfolio {
	margin: 30px 0;
	display: flex;
	flex-direction: row;

}

.person-image {
	width: 90px;
    height: 90px;
    border-radius: 90px;
    margin-right: 20px;
    text-align: center;
}

.nik {
	background-image: url('../img/niklas.jpg');
}

.dennis {
	background-image: url('../img/dennis.jpg');
}

.lea {
	background-image: url('../img/lea.jpg');
}

.le {
	background-image: url('../img/le.jpg');
}

.denise {
	background-image: url('../img/denise.jpg');
}

.carsten {
	background-image: url('../img/carsten.jpg');
}

.sven {
	background-image: url('../img/sven.jpg');
}

.sascha {
	background-image: url('../img/sascha.jpg');
}

.hannes {
	background-image: url('../img/hannes.jpg');
}

.portfolio-link {
	width: 90px;
    height: 90px;
    border-radius: 90px;
    text-align: center;
    background-color: rgba(221,85,101,0.6);
    display: table-cell;
    overflow: hidden;
    vertical-align:middle;
    visibility: hidden;
  	opacity: 0;
}

.portfolio-link a {
	color: #fff;
}

.person-image:hover .portfolio-link {
	visibility: visible;
	transition: 1s;
  	opacity: 1;
}

.person-image:hover .portfolio-link a:link{
	border-bottom: none;
}

.person-image:hover .portfolio-link a:hover{
	border-bottom: none;
}

.footer {
	clear: both;
	margin: 50px 0;
	text-align: center;
}

.footer a {
	text-transform: none;
	font-weight: 300;
	border-bottom: none;
}

.footer a:hover {
	text-transform: none;
	font-weight: 300;
	border-bottom: none;
	color: #dd5565;
}

.impressum-parts {
	display: flex;
	flex-direction: row;
}

.part1 {
	width: 22%;
}

.part2 {
	width: 22%;
	padding-right: 25px;
}

.part3 {
	width: 50%;
}

/* _____________ ADMIN */

.admin-icon {
	position: absolute;
    padding-top: 0px;
    left: 125px;
}

.admin-logo {
	position: fixed;
    top: 64vh;
    left: 77vw;
}

.admin-examples {
	margin: 50px;
}

.admin-examples table {
	border-collapse: collapse;
}

.admin-examples table td {
	border-bottom: 1px solid #333;
}

.admin-examples table tr td {
	padding: 10px 30px 10px 0px;
}

.admin-examples textarea {
    border: 1px solid #333;
    background-color: #ebebeb;
    min-width: 250px;
    min-height: 50px;
}

.admin-examples-details input {
	min-width: 400px;
    height: 25px;
    border: 1px solid #333;
    background: #ebebeb;
}

.admin-examples-details {
	margin: 50px;
}

.admin-examples-details table tr td {
	padding: 10px 20px 10px 0px;
}

.admin-examples-details textarea {
    border: 1px solid #333;
    background-color: #ebebeb;
    min-width: 400px;
    min-height: 50px;
}

.admin-examples-details input {
	min-width: 400px;
    height: 25px;
    border: 1px solid #333;
    background: #ebebeb;
}

.admin-examples-details select {
	border: 1px solid #333;
    background: #ebebeb;
    width: 200px;
}

.save-add-examples, .add-examples {
	padding: 5px 20px;
	margin-right: 15px;
    border: 1px solid #333;
    background: #ebebeb;
    font-family: 'Hind', sans-serif;
    font-weight: 300;
    font-size: 14px;
    margin-top: 20px;
    text-transform: none;
}

.add-examples:hover {
	border: 1px solid #333;
	color: #dd5565;
}

.box {
	height: 100px;
    min-width: 400px;
    padding-right: 30px;
    overflow-y: scroll;
    border: 1px solid #333;
}

.box input {
	width: 20px;
	height: 14px;
}